// Global
$main-color: #39ff92;
$color1: #dbdbdb;

/* Setup */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

html,
body {
  height: 100%;
}

header,
footer {
  background-color: $main-color;
  font-weight: bold;
  color: black;
  border-radius: 10px;
}

header {
  position: relative;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
}

footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 5px;
  padding: 7px;
  text-align: right;
  font-size: 1.25rem;
}

#quote-box {
  width: 60%;
  min-height: 40vh;
  margin: 75px auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: $color1;

  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 3fr 1fr 1fr;
  grid-gap: 30px;
}

#text {
  grid-column: 1/-1;
  grid-row: 1;

  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

#author {
  grid-column: 1/-1;
  grid-row: 2;

  text-align: right;
  font-size: 1.25rem;
  color: black;
}

#btns {
  grid-column: 1/-1;
  grid-row: 3;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#new-quote,
#tweet-quote {
  background: $main-color;
  padding: 10px;
  height: 50px;
  border: 1px solid black;
  border-radius: 10px;
  font-weight: bold;
  color: black;
  text-align: center;
  cursor: pointer;
}

#tweet-quote {
  padding: 15px 10px;
}

#new-quote:hover,
#tweet-quote:hover {
  background: white;
  color: $main-color;
}

#new-quote:active,
#tweet-quote:active {
  background: $main-color;
  color: black;
}

a {
  text-decoration: none;
}
